.top-image {
    background-image: url("images/gaole_bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center;
    /* background-size: cover; */
}

#legend1, #part4 {
    position: fixed;
    opacity: 0.8

}

#legend1-table, #part4-table{
    table-layout: 100%;
}

.legend1btn, .part4btn {
    width: 80%;
    margin: 5px 0;
}

.hidden {
    display: none;
}

.legend1-clear, .part4-clear {
    float: right;
}

.legend1pokemon {
 /* overflow: scroll */
}

.countA, .countB, .countC, .countD, .countE, .countF, .countG, .countH {
    font-size: 1.5em;
}

.navbar {
    margin-bottom: 2%;
}

/* index */

.index-nav {
    position: sticky
}

.epicmind, .carousell, .telegram_qr {
    max-width: 100%;
    min-width: 100%;
    position: static
}
.gaole {
    max-width: 30%;
    margin-bottom: 1%
}

.index-row {
    margin: 1% 0;
}

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-facebook, .fa-whatsapp, .fa-telegram {
    margin-right: 1%;
   font-size: 30px
}  

