#legend1 {
    position: fixed;
    opacity: 0.8

}

#legend1-table{
    table-layout: 100%;
}

.legend1btn {
    width: 100%;
    margin: 5px 0;
}

.hidden {
    display: none;
}

.legend1-clear {
    float: right;
}